
.ios, .md {
    page-about {
            list-ios > .item-block:first-child {
                    border-top:1px solid transparent;
                }
        
            p {
                font-size: 0.8em;
                color: #d2d2d2;
            }
            .swiper-slide {
                display: block;
            }
            ion-label, .select-text {
                margin-left: 0px;
            }
            ion-input, ion-select, ion-textarea {
                // background-color: #f2f2f2;
                //padding: 5px 10px;
            }
            .invalid {
                border: 1px solid #ea6153;
            }
            
            

    }
        .item-md .item-button {
                    padding: 0 0.6em;
                     height: 40px; 
                    color:#72899f !important;
                    background-color:  #f4f4f4 !important;
                    /* font-size: 1.2rem; */
            }
        .item-ios .item-button {
                    padding: 0 0.6em;
                     height: 40px; 
                    color:#72899f !important;
                    background-color:  #f4f4f4 !important;
                    /* font-size: 1.2rem; */
            }
}


