page-invitedetail {
        .aclass > img{
             border: 1px solid #cccccc;
             border-radius: 10px;
        }
        .toolbar-title-md {
            padding: 0 12px;
            font-size: 2rem;
            font-weight: 300;
            color: #424242;
        }
}
